<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451083707165-h4biutu1s01f6tqful1iha1a5dg0427o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451083707165-h4biutu1s01f6tqful1iha1a5dg0427o</string>
	<key>API_KEY</key>
	<string>AIzaSyDoT31sURjiEC0mC3lPKy-0AoS-IvXzHPY</string>
	<key>GCM_SENDER_ID</key>
	<string>451083707165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RndR-iOS-App</string>
	<key>PROJECT_ID</key>
	<string>rndr-a1b5f</string>
	<key>STORAGE_BUCKET</key>
	<string>rndr-a1b5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451083707165:ios:01f33c6c377f3e8eeff7f4</string>
</dict>
</plist>